


<h1 *ngIf="authSrvc.isLogged | async">¡Bienvenido Usuario! Has Ingresado con éxito </h1>

  <div style="display: flex;">
    <div id="div-bg">
      <div id="text-container">
        <h1>Nosotros Cuidamos a Tu Mascota</h1>

        <h3>Durante 17 años hemos sidos los mejores</h3>
      </div>
      <div>
        <button (click)="onEvent($event)" href="/login">RESERVA AQUI</button>

      </div>


        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M131.77,148.52 C338.88,149.50 203.44,22.20 503.67,28.12 L500.00,150.00 L135.15,204.77 Z" style="stroke: none; fill: #ffff;"></path></svg></div>
      </div>

  </div>




