
  <header>
    <nav>
        <a href="#">Location</a>
        <a href="#">Blog</a>
        <a href="#">Services</a>
        <a href="#">About Us</a>
        <a href="#">Franchise with Us</a>
    </nav>
    <section class="textos-header">
        <h1>Potencia tus ventas al menos un 200%</h1>
        <h2>Con una página web potente</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">aqui va mi onda</div>
</header>
<main>
    <section class="Landing">
        <h2 class="titulo">Nuestro producto</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Los mejores productos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                    consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                    velit doloribus laboriosam ut.</p>
                <h3><span>2</span>Los mejores productos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                    consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                    velit doloribus laboriosam ut.</p>
            </div>
        </div>
    </section>
    <section class="Blog">
        <div class="contenedor">
            <h2 class="titulo">Portafolio</h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="img/img1.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img2.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img3.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img1.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img4.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img5.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img6.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img7.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="img/icono1.png" alt="">
                        <p>Nuestro trabajo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="Services">
        <h2 class="titulo">Que dicen nuestros clientes</h2>
        <div class="cards">
            <div class="card">
                <img src="img/face1.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
                </div>
            </div>
            <div class="card">
                <img src="img/face2.jpg" alt="">
                <div class="contenido-texto-card">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="AboutUs">
        <div class="contenedor">
            <h2 class="titulo">Nuestros servicios</h2>
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="img/ilustracion1.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
                <div class="servicio-ind">
                    <img src="img/ilustracion4.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
                <div class="servicio-ind">
                    <img src="img/ilustracion3.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="Franchise">
      <div class="contenedor">
          <h2 class="titulo">Nuestros servicios</h2>
          <div class="servicio-cont">
              <div class="servicio-ind">
                  <img src="img/ilustracion1.svg" alt="">
                  <h3>Name</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
              </div>
              <div class="servicio-ind">
                  <img src="img/ilustracion4.svg" alt="">
                  <h3>Name</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
              </div>
              <div class="servicio-ind">
                  <img src="img/ilustracion3.svg" alt="">
                  <h3>Name</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
              </div>
          </div>
      </div>
  </section>
</main>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>8296312</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>8296312</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>8296312</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AlexCG Design | Jordan Alexander</h2>
</footer>
